/* Body, links, basics */
html {}
body {
  background: $body-bg-dk;
  font-size: $em;
  font-family: $font-copy;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  color: $color-copy;
}

a {
  outline: none;
  color: $accent;
  text-decoration: none;
  -webkit-transition: all .3s;
          transition: all .3s;

  &:hover {}
}
