/* Content section
================== */

.content {
  background: $body-bg;
  padding-top: 2.5em;
}
.row { // margin-bottom: 3em;
}

/* Post snippets - General Styles */
.meta {}
.byline { font-size: .8em; }
.category {
  background: $accent;
  color: #fff;
  display: inline-block;
  font-size: .75 * $em;
  font-style: italic;
  padding: .5 * $em $em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  left: 0;
}

/* Recent Posts */

article {
  figure {
    overflow: hidden;
    position: relative;

    img { width: 100%; }
  }
  h2 {
    font-size: 1.75 * $em;
    margin-bottom: 0;
    a {
      color: $heading-color;
      &:hover {
        color: $accent;
// I should probably take out the next line or change it even though it's hilarious;
        @include text-shadow(darken($accent,25));
      }
    }
  }

  &.recent {
    height: 6 * $em;
    margin-bottom: 1.5 * $em;
    // overflow: hidden;
    figure {
      float: left;
      width: 25%;
    }
    .meta {
      border-top: 1px solid darken($body-bg, 5);
      float: right;
      overflow: hidden;
      padding-top: $em;
      position: relative;
      width: 70%;
      z-index: 100;

      .copy {
        display: none;
        font-size: .9em;
        line-height: 1.55;
        visibility: hidden;
      }
    }
  }
}
