/* Content section
================== */

/* Post snippets - General Styles */
.meta {}
.byline {
  font-size: .8em;
  font-style: italic;
}
.category {
  background: $accent;
  color: #fff;
  display: inline-block;
  font-size: .75 * $em;
  font-style: italic;
  padding: .5 * $em $em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  left: 0;
}


