// Colors
// ====================
$nav-bg: #062534;
$nav-bg-lt: #accbda;
$nav-bg-dk: darken($nav-bg, 20%);

$header-bg: #638a81; // masthead

$body-bg: #ccdad7; // main content background
$body-bg-dk: darken($body-bg, 5); // bg outside main container

$accent: #d21452; // pink

// Type
// ====================
$font-copy: 'open sans', 'helvetica neue', sans-serif;
$font-headings: 'bitter', baskerville, georgia, serif;

$color-headings: #041a25;
$color-copy: #020f16;

// base font size at 16px, function returns desired pixel dimension in ems
@function em($target-px-size, $base-size: 16) {
  @return ($target-px-size / $base-size) * 1em;
}

$font-heavy: 900;
$font-bold: 700;
$font-normal: 300;
$font-light: 200;

// Other variables
// =======================


// Mixins
// =====================
@mixin breakpoint($width) {
   @if      $width == palm-sm  { @media screen and (min-width: em(480))  { @content; } }
   @else if $width == palm-md  { @media screen and (min-width: em(640))  { @content; } }
   @else if $width == palm-lg  { @media screen and (min-width: em(720))  { @content; } }
   @else if $width == lap-sm   { @media screen and (min-width: em(800))  { @content; } }
   @else if $width == lap-md   { @media screen and (min-width: em(960))  { @content; } }
   @else if $width == lap-lg   { @media screen and (min-width: em(1024)) { @content; } }
   @else if $width == desk-sm  { @media screen and (min-width: em(1280)) { @content; } }
   @else if $width == desk-md  { @media screen and (min-width: em(1440)) { @content; } }
   @else if $width == desk-lg  { @media screen and (min-width: em(1600)) { @content; } }
   @else if $width == livingrm { @media screen and (min-width: em(1920)) { @content; } }
}

@mixin text-shadow($color) {
  text-shadow: 1px 1px 0 $color,
               2px 2px 0 $color,
               3px 3px 0 $color,
               4px 4px 0 $color;
}

@mixin article-fade {
  background-image: -moz-linear-gradient(top, transparentize($body-bg, 1) 0, $body-bg 100%);
  background-image: -webkit-linear-gradient(top, transparentize($body-bg, 1) 0, $body-bg 100%);
  background-image: linear-gradient(top, transparentize($body-bg, 1) 0, $body-bg 100%);
  background-size: 100%;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  position: absolute;
  height: 30%;
  width: 100%;
}