/* Content section
================== */

.content {
  background: $body-bg;
  // border-left: 1px solid darken($body-bg-dk, 5);
  // border-right: 1px solid darken($body-bg-dk, 5);
  padding-top: 2.5em;
}
.row { margin-bottom: 3em; }

/* Post snippets - General Styles */
.meta {}
.byline { font-size: .8em; }

/* Recent Posts */

article {
  figure {
    // background: $heading-color;
    // border-top: 2px solid $accent;
    height: 12em;
    overflow: hidden;
    // position: relative;
    
    img { width: 100%; }
  }

  h2 a { color: $heading-color;
    &:hover {
      color: $accent;
// I should probably take out the next line or change it even though it's hilarious;
      @include text-shadow(darken($accent,25));
    }
  }

  &.recent {
    // height: 400px;
    overflow: hidden;
    figure {
      float: left;
      width: 25%;
    }
    .meta {
      float: left;
      width: 75%;
      z-index: 100;

      .copy {
        display: none;
        font-size: .9em;
        line-height: 1.55;
        visibility: hidden;
      }
    }
  }
}

