/* Content section
================== */

.content {
  background: $body-bg;
  padding-top: 2.5em;
}
.row { // margin-bottom: 3em;
}

/* Post snippets - General Styles */
.meta {}
.byline { font-size: .8em; }
.category {
  background: $accent;
  color: #fff;
  display: inline-block;
  font-size: .75 * $em;
  font-style: italic;
  padding: .5 * $em $em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  left: 0;
}


