/* Footer
================== */
footer {
  background: $nav-bg;
  color: #fff;
  padding: 2em 0;
  width: 100%;

  p { font-size: em(13); }
}

#tw-feed {
 color: #fff; 
 font-size: .5em;
 width: 90%;
}
