/* Latest article "Glamour" section
========================= */
#glamour {
  background: #000;
  height: 480px;
  width: 100%;

  .hero, .sidekick {
    float: left;
    overflow: hidden;
    position: relative;
    height: 33.333%;
    width: 100%;

    -webkit-background-size: cover !important;
            background-size: cover;
    -webkit-background-position: center !important;
            background-position: center;

    // a.img-block {
    //   background: transparentize($heading-color, .35);
    //   // background: rgba(0,0,0,.6);
    //   display: block;
    //   height: 100%;
    //   overflow: hidden;
    //   -webkit-transition: background .3s;
    //           transition: background .3s;

    //   &:hover { background: rgba(0,0,0,.4); }
    // }
    .meta {
      @include box-sizing;
      color: #eee;
      padding: 0 7%;
      position: absolute;
      bottom: 8%;
      left: 10%;
      text-align: center;
      width: 80%;
      z-index: 2;

      h2 {
        a { color: #fff; }
        @include text-shadow(#000);
      }
      p { font-size: .8em; }
    }
  }
  // .hero {
  //   height: 100%;
  //   width: 60%;

  //   h2 { font-size: 3.5em; }
  // }
  // .sidekick {
  //   height: 50%;
  //   width: 40%;
  // }
}

a.img-block {
  background: transparentize($heading-color, .35);
  display: block;
  height: 100%;
  overflow: hidden;

  &:hover { background: transparentize($heading-color, .6); }
}
