.left { float: left; }
.right { float: right; }
.centered { text-align: center; }

.container {
  margin: 0 auto;
  max-width: 90em;
}

.main-content {
   background: $body-bg;
   padding: 2em;
}

.col-3 {
  @media screen and (min-width: 600px) {
    float: left;
    width: 48%;

    &:first-child { margin-right: 4%; }
    &:last-child { width: 100%; } 
  }
  @media screen and (min-width: 800px) {
    margin-left: 2%;
    width: 32%;

    &:first-child { margin: 0; }
    &:last-child { width: 32%; }
  }
}


