.left { float: left; }
.right { float: right; }
.centered { text-align: center; }

.container {
   margin: 0 auto;
   max-width: em(1140);
}

.main-content {
   background: $body-bg;
   padding: 1em 0;
}

.col-3 {
  padding: 0 1em;
  
  @include breakpoint(palm-md) {
    float: left;
    width: 50%;
    // width: 48%;

    // &:first-child { margin-right: 4%; }
    &:last-child { width: 100%; } 
  }
  @include breakpoint(lap-sm) {
    // margin-left: 2%;
    width: 33.3333%;

    // &:first-child { margin: 0; }
    &:last-child { width: 33.3333%; }
  }
}


