.left { float: left; }
.right { float: right; }
.centered { text-align: center; }

.container {
  margin: 0 auto;
  max-width: 90em;
}

.main-content {
   background: $body-bg;
   padding: 4%;

   @media screen and (min-width: 768px) { padding: 3em 2em; }
}