// Mixins
// ======================
@mixin img-replacement {
  /* img replacement */
  .ir {
      font: 0/0 a;
      text-shadow: none;
      color: transparent;
  }
}

@mixin clearfix {
  /* clearfix */
  .cf {
    &:before, &:after {
      content: "";
      display: table;
    }
    &:after { clear: both; }
  }
  /* for IE6/7 */
  .cf { *zoom: 1; } 
}

@mixin box-sizing {
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@mixin text-shadow($color) {
  text-shadow: 1px 1px 0 $color,
               2px 2px 0 $color,
               3px 3px 0 $color;
}