/* Desktop
================== */
@media screen and (min-width: 960px) {

/* Grid
---------------------- */
@for $i from 1 through $cols {
  .col-#{$i} {
    width: (100% - ($gutter * (2 * (($cols / $i) - 1) + 2))) / ($cols / $i);
    @extend %columns;    
  }
} 

/* Header
------------------ */
header {
  .search {
    width: 25%;
  }
  .masthead {
    padding: 5.5em $gutter 1.2em;
  }
}

/* Nav
------------ */
nav {
  &.main-nav {
    position: fixed;
    z-index: 100;
  }
}

/* Glamour Section
------------------ */
#glamour {
  height: 32 * $em;
  .hero, .sidekick {
    height: 100%;
    width: 33.3333%;

    h2 { font-size: 3em; }
  }
}

/* Main Content Area
---------------------------- */
.content {
  border-left: 1px solid darken($body-bg-dk, 5);
  border-right: 1px solid darken($body-bg-dk, 5);
}

article {

  &.recent {
    &.col-4 {
      height: 32 * $em;
      width: (100% / 3) - 2 * $gutter;
    }

      &:last-child {

        .meta {
          float: none;
          width: 100%;
        }

        figure {
          float: none;
          height: 14 * $em;
          width: 100%;
        }
      }

    
  }


      // figure {
      //   float: none;
      //   width: 100%;
      // }

  }



}