/* Desktop
================== */
@media screen and (min-width: 960px) {

  body { background-color: #eecccc; }

// grid system
// ======================
@for $i from 1 through $cols {
  .col-#{$i} {
    width: (100% - ($gutter * (2 * (($cols / $i) - 1) + 2))) / ($cols / $i);
    @extend %columns;    
  }
} 

header {
  .search {
    width: 25%;
  }
}

.content {
  margin: 0 auto;
  max-width: 1100px;
}

article.recent.col-4 {
  width: (100% / 3) - 2 * $gutter;
  .meta {
    width: 100%;
  }
  figure {
    float: none;
    height: 14 * $em;
    overflow: hidden;
    width: 100%;
  }
}



}