/* Tablet
================== */
@media screen and (min-width: 768px) {

// body { background: #336666; }

// grid system
// ======================
 
// @for $i from 1 through $cols {
//   .col-#{$i} {
//     @if $i == $cols / 4 { width: (100% / 2) - 2 * $gutter; }
//     @else if $i == $cols / 3 { width: (100% / 3) - 2 * $gutter; }
//     @else if $i == 2 * ($cols / 3) { width: 2 * (100% / 3) - 2 * $gutter; }
//     @else if $i == $cols / 2 { width: (100% / 2) - 2 * $gutter; }
//     @else { width: 100% - 2 * $gutter; }
//     @extend %columns;    
//   }
// }

/* Glamour section */

#glamour {
  // height: 32 * $em;
  .hero, .sidekick {
    .meta { bottom: 12%; }
  }
  // .hero {
  //   height: 100%;
  //   width: 60%;

  //   h2 { font-size: 3.5em; }
  // }
  // .sidekick {
  //   height: 50%;
  //   width: 40%;
  // }
}

/* Recent Posts */

// .row { margin-bottom: 0; }

article {

  h2 {
    font-size: 2.25 * $em;
    margin-bottom: .25 * $em;
  }

  figure {
    height: 14 * $em;
    margin-bottom: .75 * $em;
    position: relative;
  }

  &.recent {
    margin-bottom: 3em;
    height: auto;
    width: (100% / 2) - 2 * $gutter;

    figure, .meta { width: 100%; }
    figure { float: none; }

    .meta {
      border: 0;
      float: none;
      height: 16 * $em;
      overflow: hidden;
      padding-top: 0;
      // position: relative;
      width: 100%;

      &:after {
        @include article-fade;
        background-size: 100%;
        bottom: 0;
        left: 0;
        content: '';
        display: block;
        position: absolute;
        height: 30%;
        width: 100%;
      }
      .copy {
        display: block;
        visibility: visible;
      }
    }

    &:last-child {
      $secondary-height: 16 * $em;
      height: $secondary-height;
      // margin-bottom: 0;
      width: 100% - 2 * $gutter;

      figure {
        float: left;
        height: auto;
        margin-bottom: 0;
        width: 30%;
      }

      .meta {
        border-top: 1px solid darken($body-bg, 5);
        float: right;
        height: $secondary-height;
        padding-top: $em;
        width: 65%;
      }
    }
  }
}

}