h1 { font-size: 2.7em; }
h2 { font-size: 2.3em; }
h3 { font-size: 1.85em; }
h4 { font-size: 1.25em; }
h5 { font-size: .8em; }
h6 { font-size: .7em; }

h1,h2,h3,h4,h5,h6 {
  color: $color-heading;
  font-weight: $font-bold;
  margin: 0 0 .25em;
}
h1,h2 {
  font-family: $font-header;
  letter-spacing: -1px;
  line-height: 1.2;
}
p { margin: 0 0 .75em; }
.lead-in { font-size: 1.5em; }