h1 { font-size: 2.7em; }
h2 { font-size: 2.3em; }
h3 { font-size: 1.85em; }
h4 { font-size: 1.25em; }
h5 { font-size: .8em; }
h6 { font-size: .7em; }

h1,h2,h3,h4,h5,h6 {
  color: $color-headings;
  font-weight: $font-bold;
  line-height: 1.2;
  margin: 0 0 .25em;
}
h1,h2,h3,h4 {
  font-family: $font-headings;
}
h1,h2,h3 { letter-spacing: -1px; }
p { margin: 0 0 .75em; }
.lead-in { font-size: 1.5em; }