// Colors
// ====================
$nav-bg: #062534;
$nav-bg-lt: lighten($nav-bg, 20%);
$nav-bg-dk: darken($nav-bg, 20%);

$header-bg: #638a81; // masthead

$body-bg: #ccdad7; // main content background
$body-bg-dk: darken($body-bg, 10%); // bg outside main container

$accent: #d21452; // pink

// Type
// ====================
$font-stack: 'open sans', 'helvetica neue', sans-serif;
$font-header: 'bitter', baskerville, georgia, serif;

// $heading-color: #222;
$heading-color: #041a25;
// $copy-color: #444;
$copy-color: #020f16;

$font-base: 14;
$em: ($font-base / 16) * 1em; // not entirely sure what the fuck I'm doing right here