.btn {  
   display: inline-block;
   font-family: $font-headings;
   font-weight: $font-bold;
}

.pagination {
   margin: 1em auto;

   .btn {
      background: $body-bg;
      color: lighten($color-headings, 15);
      display: block;
      float: left;
      font-size: em(12);
      height: 5em;
      line-height: 5em;
      padding: 0 2em;
      width: 50%;

      &:first-child { border-right: 1px solid $body-bg-dk; }
      &:last-child { text-align: right; }
      &:hover {
         background: darken($body-bg, 2.5);
         color: $accent;
      }
   }
   @include breakpoint(palm-md) {
      .btn {
         padding: 0 5em;
         font-size: em(13);
      }
   }
   @include breakpoint(lap-sm) {
      .btn {
         padding: 0 6em;
         font-size: em(14);
      }
   }
}