/* Latest article "Glamour" section
========================= */
#glamour {
  background: #000;
  height: 30em;
  width: 100%;

  .meta {
    bottom: 0;
    color: #fff;
    padding: .5em 2em;
    position: absolute;
    text-align: center;
    width: 100%;
    -webkit-transition: all 300ms;
            transition: all 300ms;

    h2 {
      @include text-shadow(#000);

      a {
        color: #fff;

        &:hover { @include text-shadow($accent); }
      }

      @media screen and (min-width: 960px) { font-size: 3em; }
    }
  }

  @media screen and (min-width: 960px) {
    height: 32em;
  }
}

.hero, .sidekick {
  overflow: hidden;
  position: relative;
  height: 33.3333%;
  width: 100%;

  -webkit-background-size: cover;
          background-size: cover;
  -webkit-background-position: center;
          background-position: center;

  @media screen and (min-width: 768px) { float: left; }
}

@media screen and (min-width: 768px) {
   .hero {
    height: 100%;
    width: 60%;
  } 
  .sidekick {
    height: 50%;
    width: 40%;
  }
}

@media screen and (min-width: 960px) {
  .hero, .sidekick {
    height: 100%;
    width: 33.3333%;
  }
}

.img-overlay {
  background: transparentize($color-heading, .35);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all 300ms;
          transition: all 300ms;

  &:hover { background: transparentize($color-heading, .5); }
}

