/* Latest article "Glamour" section
========================= */
#glamour {
  background: #000;
  height: em(480);
  width: 100%;

  .meta {
    top: 0;
    color: #fff;
    padding: .5em 2em;
    position: absolute;
    text-align: center;
    width: 100%;
    -webkit-transition: all 300ms;
            transition: all 300ms;

    h2 {
      font-size: em(30);
      @include text-shadow(#000);

      a {
        color: #fff;

        &:hover { @include text-shadow($accent); }
      }

      @include breakpoint(palm-md) { font-size: em(34); }
      @include breakpoint(lap-md) { font-size: em(38); }
    }
  }
  @include breakpoint(lap-md) { height: em(420); }
}

.hero, .sidekick {
  overflow: hidden;
  position: relative;
  height: 33.3333%;
  width: 100%;

  -webkit-background-size: cover;
          background-size: cover;
  -webkit-background-position: center;
          background-position: center;

  @include breakpoint(palm-md) {
    float: left;
    width: 50%;
  }
  .meta { margin-top: 1.5em; }
}

@include breakpoint(palm-md) {
  .hero {
    height: 100%;

    .meta { margin-top: 10em; }
  } 
  .sidekick {
    height: 50%;
    .meta { margin-top: 2.5em; }
  }
}

@include breakpoint(lap-md) {
  .hero, .sidekick {
    height: 100%;
    width: 33.3333%;

    .meta { margin-top: 10em; }
  }
}

.img-overlay {
  background: transparentize($color-headings, .35);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all 300ms;
          transition: all 300ms;

  &:hover { background: transparentize($color-headings, .5); }
}

