/* Masthead */
header {
  .masthead {
    background: $header-bg;
    padding: 4%;
    // height: 125px;
    // padding-top: 4em;
  }
  .logo {
    text-align: center;
    width: 400px;
  }
  .tagline {
    color: $body-bg;
    font-size: 1.25 * $em;
    text-align: center;
  }
}

@include breakpoint(ned) {
  header {
    .search { width: 25%; }
    .masthead { padding: 5.5em 2em 1.2em; }
  }
}
