/* Masthead */
.masthead {
  background: $header-bg;
  padding: 1em;
  text-align: center;

  @include breakpoint(palm-md) {
    padding: 1em 2em;
    text-align: left;
  }
  @include breakpoint(lap-sm) { padding-top: 5.5em; }
}
header {
  .logo {
    height: 70px;
    margin: 0 auto;
    width: 320px;

    @include breakpoint(palm-md) {
      height: 80px;
      margin: 0 0 0 -.25em;  
    }
    @include breakpoint(lap-sm) {
      height: 100px;
      width: 400px;
    }
  }
  .tagline {
    color: $body-bg;
    font-size: em(14);

    @include breakpoint(palm-md) { font-size: em(18); }
    @include breakpoint(lap-sm) { font-size: em(20); }
  }
}
@include breakpoint(desk-sm) {
  header {
    .masthead { padding: 5.5em 2em 1.2em; }
  }
}
