/* Navigation */
nav {
  width: 100%;

  li{
    display: block;
    float: left;
    list-style: none;
    margin-left: 3em;

    &:first-child { margin-left: 0; }
  }
}

.main-nav {
  // $nav-height: 4em;
  background: $nav-bg;
  box-shadow: 0 3px 16px rgba(0,0,0,.5);
  font-size: 1.1 * $em;
  padding: .75em 0;

  a {
    color: $nav-bg-lt;
    display: block;
    height: 100%;
    &:hover { color: $accent; }
  }

  ul {
    line-height: 2.85em;
    // line-height: 2.85 * $em;
  }

  li {
    &.home-link {
      background: url(img/burger@2x.png) no-repeat;
      background-size: 100%;
      height: 40px;
      width: 26px;
    }
  }
}