/* Recent Posts */
article {
  margin-bottom: 2em;
  overflow: hidden;

  // article 600px ======================== 
  @media screen and (min-width: 600px) { float: left; }

  // article 800px ======================== 
  @media screen and (min-width: 800px) {}

  // -------------------------------------
  figure {
    overflow: hidden;
    position: relative;

  // figure 600px ======================== 
    @media screen and (min-width: 600px) {
      height: 14em;
      margin-bottom: .75em;
    }
  }

  // -------------------------------------
  img {
    height: auto;
    max-width: 100%;
  }

  // -------------------------------------
  h2 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: .15em;

  // h2 600px ======================== 
    @media screen and (min-width: 600px) { font-size: 2em; }

    a {
      color: $color-heading;
      &:hover {
        color: $accent;
        @include text-shadow(darken($accent,25));
      }
    }
  }
} // end article

.post-recent {
  height: 6em;

  // .post-recent 600px ======================== 
  @media screen and (min-width: 600px) {
    height: auto;
    width: 48%;

    &:first-child { margin-right: 4%; }

    &:last-child {
      height: 16em;
      width: 100%;

      figure {
        float: left;
        height: auto;
        width: 35%;
      }
      .meta {
        border-top: 1px solid darken($body-bg, 5);
        float: right;
        height: 100%;
        padding-top: 1em;
        width: 60%;
      }

  // .post-recent:last-child 800px ======================== 
      @media screen and (min-width: 800px) {
        height: auto;
        width: 32%;

        figure {
          float: none;
          height: 14em;
          margin-bottom: .75em;
          width: 100%;
        }

        .meta {
          border: 0;
          height: 16em;
          padding-top: 0;
          width: 100%;
        }
      }
    }
  }

  // .post-recent 800px ======================== 
  @media screen and (min-width: 800px) {
    margin-left: 2%;
    width: 32%;

    &:first-child { margin: 0; }
  }

  figure {
    float: left;
    margin-right: 5%;
    width: 25%;

    @media screen and (min-width: 600px) {
      // float: none;
      width: 100%;
    }
  }


  .meta {
    border-top: 1px solid darken($body-bg, 5);
    float: right;
    overflow: hidden;
    padding-top: 1em;
    position: relative;
    width: 70%;

    // 600px ======================== 
    @media screen and (min-width: 600px) {
      border: 0;
      height: 16em;
      padding-top: 0;
      width: 100%;

      &:after { @include article-fade; }
    }
  }
  .copy {
    font-size: .9em;
    visibility: hidden;

    @media screen and (min-width: 600px) { visibility: visible; }
  }
}

.post-older {
  border-top: 1px solid darken($body-bg, 5);
  font-size: .875em;
  padding-top: 1em;
  text-align: center;

  &:first-child { border: 0; }
}