/* Recent Posts
============================ */
article {
  margin-bottom: 1em;
  overflow: hidden;

  figure {
    overflow: hidden;
    position: relative;
  }
  img {
    height: auto;
    max-width: 100%;
  }
  h2 {
    font-size: em(20);
    line-height: 1;
    margin-bottom: .15em;

    a {
      color: $color-headings;
      &:hover {
        color: $accent;
        @include text-shadow(darken($accent,25));
      }
    }
  }
}

/* article 640px ======================== */
@include breakpoint(palm-md) {
  article {
    figure {
      height: 14em;
      margin-bottom: .75em;
    }
    h2 { font-size: 2em; }
  }
}
// end article


/* Post Snippet Blocks
======================================== */
.post-block {
  height: em(90);

  figure {
    float: left;
    height: 100%;
    margin-right: 5%;
    width: 25%;
  }
  .meta {
    border-top: 1px solid darken($body-bg, 5);
    float: right;
    overflow: hidden;
    padding-top: .5em;
    position: relative;
    width: 70%;
  }
  .copy { visibility: hidden; }
}

/* .post-block 640px ======================== */
@include breakpoint(palm-md) {
  .post-block {
    height: auto;

    &:last-child {
      height: em(240);

      figure, .meta { height: 100%; }

      figure {
        float: left;
        width: 35%;
      }
      .meta {
        border-top: 1px solid darken($body-bg, 5);
        float: right;
        padding-top: 1em;
        width: 60%;
      }
    }

    figure, .meta { width: 100%; }

    figure { height: em(200); }
    .meta {
      border: 0;
      height: em(240);
      padding-top: 0;
      &:after { @include article-fade; }
    }
    .copy { visibility: visible; }
  }
}

/* .post-block 800px ======================== */
@include breakpoint(lap-sm) {
  .post-block {
    height: auto;

    &:last-child {
      height: auto;

      figure {
        float: none;
        height: em(200);
        margin-bottom: .75em;
        width: 100%;
      }
      .meta {
        border: 0;
        height: em(200);
        padding-top: 0;
        width: 100%;
      }
    }
  }
}
.byline {
  font-size: em(11);
  font-style: italic;
}
.category {
  background: $accent;
  color: #fff;
  display: inline-block;
  font-size: em(9);
  font-style: italic;
  padding: .4em .875em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  left: 0;
}
