/* Recent Posts
============================ */
article {
  margin-bottom: 2em;
  overflow: hidden;

  figure {
    overflow: hidden;
    position: relative;
  }
  img {
    height: auto;
    max-width: 100%;
  }
  h2 {
    font-size: 1.5em;
    line-height: 1;
    margin-bottom: .15em;

    a {
      color: $color-heading;
      &:hover {
        color: $accent;
        @include text-shadow(darken($accent,25));
      }
    }
  }
}

/* article 600px ======================== */
@media screen and (min-width: 600px) {
  article {
    // float: left;

    figure {
      height: 14em;
      margin-bottom: .75em;
    }
    h2 { font-size: 2em; }
  }
}
// end article


/* Post Snippet Blocks
======================================== */
.post-block {
  height: 6em;

  figure {
    float: left;
    height: 100%;
    margin-right: 5%;
    width: 25%;
  }
  .meta {
    border-top: 1px solid darken($body-bg, 5);
    float: right;
    overflow: hidden;
    padding-top: 1em;
    position: relative;
    width: 70%;
  }
  .copy {
    font-size: .9em;
    visibility: hidden;
  }
}

/* .post-block 600px ======================== */
@media screen and (min-width: 600px) {
  .post-block {
    height: auto;
    // width: 48%;

    // &:first-child { margin-right: 4%; }
    &:last-child {
      height: 16em;
      // width: 100%;

      figure, .meta { height: 100%; }

      figure {
        float: left;
        width: 35%;
      }
      .meta {
        border-top: 1px solid darken($body-bg, 5);
        float: right;
        padding-top: 1em;
        width: 60%;
      }
    }

    figure, .meta { width: 100%; }

    figure { height: 14em; }
    .meta {
      border: 0;
      height: 16em;
      padding-top: 0;
      &:after { @include article-fade; }
    }
    .copy { visibility: visible; }
  }
}

/* .post-block 800px ======================== */
@media screen and (min-width: 800px) {
  .post-block {
    height: auto;
    // margin-left: 2%;
    // width: 32%;

    // &:first-child { margin: 0; }
    &:last-child {
      height: auto;
      // width: 32%;

      figure {
        float: none;
        height: 14em;
        margin-bottom: .75em;
        width: 100%;
      }
      .meta {
        border: 0;
        height: 16em;
        padding-top: 0;
        width: 100%;
      }
    }
  }
}
.byline {
  font-size: .8em;
  font-style: italic;
}
.category {
  background: $accent;
  color: #fff;
  display: inline-block;
  font-size: .75em;
  font-style: italic;
  padding: .5em 1em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  left: 0;
}
