/* Review cards
=============== */
.slider {
  overflow: hidden;
}
.slider-container {
  background: lighten($body-bg, 5);
  border-top: 1px solid darken($body-bg, 5);
  margin-bottom: 2em;
  overflow-x: scroll;
  padding: 1em 0;
  white-space: nowrap;
}
.review-card {
  -webkit-background-position: center;
          background-position: center;
  -webkit-background-size: cover;
          background-size: cover;
  color: #fff;
  display: inline-block;
  height: 360px;
  margin-left: 1em;
  overflow: hidden;
  position: relative;
  width: 240px;

  &:first-child { margin-left: 40px; }

  .meta {
    position: absolute;
    padding: 0 1em 1em;
    top: 15%;
    text-align: center;
    width: 100%;

    h2 {
      font-size: 1.75em;
      @include text-shadow(#000);
      a {
        color: #fff;
        &:hover {
          // color:
        }
      }
    }
  }
}