/* Review cards
=============== */

.slider {
  margin-bottom: 2em;
}
.review-card {
  -webkit-background-position: center !important;
  background-position: center;
  -webkit-background-size: cover !important;
  background-size: cover;
  color: #fff;
  float: left;
  height: 16 * $em;
  overflow: hidden;
  position: relative;
  width: 40%;

  .meta {
    position: absolute;
    top: 15%;
    left: 10%;
    text-align: center;
    width: 80%;
    // z-index: 2;

    h2 {
      font-size: 1.75 * $em;
      a {
        color: #fff;
        &:hover {
          // color:
        }
      }
    }
  }
}